@import "../../../../styles.scss";

mat-card, .mat-card{
	box-shadow: none;
}

.full-width {
	width: 55vw;
}

.seachButton, .seachButton.mat-raised-button.mat-primary {
	width: 20vw;
	margin-left: 5vw;
	background-color: $blue;
	color: white;
}

h1.section-title {
	text-align: center;
	color: $red;
}

.result {
	margin-top: 50px;
	text-align: center;
}

.predict-name {
	text-transform: capitalize;
}

.name {
	text-transform: capitalize;
	color: $red;
}

table {
	display: inline-block;
	text-align: left;
}

.accomodation span, .workshop span {
	font-weight: bold;
}

.accomodation label, .workshop label {
	font-style: italic;
	margin-right: 30px;
}

span.lg {
	border-radius: 30px;
	background-color: $blue !important;
	font-size: 10px;
	padding: 0px 10px;
	color: $white;
	margin-left: 10px;
	width: auto;
	height: auto;
}

.result span.lg {
	padding: 3px 10px;
}