@import "../../../../../styles.scss";

h1 {
	color: $red;
	text-align: center;
}

.day {
	position: relative;
	margin-bottom: 100px;
	min-height: 350px;
}

.dayNumber {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 100vw;
	color: $blue;
	opacity: 0.3;
	z-index: 0;
}

.schedule {
	position: relative;
	z-index: 1000;
	text-align: center;
	margin-bottom: 30px;
}

.time {
	color: $red;
	font-weight: bold;
	margin-bottom: 0px;
	padding: 0px;
}

.event {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 0px;
	margin-top: 2px;
	padding: 0px;
}

.venue {
	font-style: italic;
}

.remarks {
	font-style: italic;
}

hr {
	display: inline-block;
    height: 1px;
    border: 0;
    border-top: 2px solid $black;
    margin: 1px 0;
    padding: 0;
    width: 10%;
}