@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

$red: #DA3C45;
$blue: #3454D1;
$white: #FEFEFE;
$black: #1E1E24;

* {
	font-family: Roboto;
}

p {
	font-size: 16px;
	font-weight: 300;
	letter-spacing: .1em;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding: 10px !important;
}

body {
	margin: 0;
	padding: 0;
}

.alert,
.alert .mat-list .mat-list-item, 
.alert .mat-nav-list .mat-list-item, 
.alert .mat-selection-list .mat-list-item {
	background-color: $red;
	color: $white !important;
}

.spinner{
	position: absolute;
    left: calc(50% - 45px);
    margin:10px; 
}

.section-title {
	color: white;
	text-transform: uppercase;
}

.section-title.spaced {
	letter-spacing: 0.3em;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}