<div class = 'component' id = 'countdown'>
	<div class='image-holder'>

		<mat-icon class="camp-logo" svgIcon="camp-logo">+</mat-icon>

	</div>
	<div id="timer" *ngIf="displayCountdown">
		<div class = 'time-component'>
			<span> {{ days }} </span>
			<span class = "time-description"> Days </span>
		</div>
		<div class = 'time-component'>
			<span> {{ hours }} </span>
			<span class = "time-description"> Hours </span>
		</div> 
		<div class = 'time-component'>
			<span> {{ minutes }} </span>
			<span class = "time-description"> Minutes </span>
		</div>
		<div class = 'time-component'>
			<span> {{ seconds }} </span>
			<span class = "time-description"> Seconds </span>
		</div>
	</div>
	<p class = 'event' *ngIf='event'> <span>-</span> {{ event }} <span>-</span></p>
</div>
