<div class = 'component' id = 'countdown' *ngIf="displayCountdown">
	<div style="position:relative; height: 250px">
		<div id="title1" class="fancy-title"> BREAKING GROUND</div>
		<div id="title2" class="fancy-title"> BREAKING GROUND</div>
		<div id="title3" class="fancy-title"> BREAKING GROUND</div>

	</div>
	<div id="timer">
		<div class = 'time-component'>
			<span> {{ days }} </span><br/>
			<span class = "time-description"> Days </span>
		</div>
		<div class = 'time-component'>
			<span> {{ hours }} </span><br/>
			<span class = "time-description"> Hours </span>
		</div> 
		<div class = 'time-component'>
			<span> {{ minutes }} </span><br/>
			<span class = "time-description"> Minutes </span>
		</div>
		<div class = 'time-component'>
			<span> {{ seconds }} </span><br/>
			<span class = "time-description"> Seconds </span>
		</div>
	</div>
</div>
