@import "../../../../styles.scss";

.base {
	padding: 20px 0px 0 0;
	text-align: center;
	background-color: $black;
	color: white;
}

.announcement {
	background-color: rgba(255, 255, 255, 0.4);
	color: white;
	margin-bottom: 20px;
}

.index {
	text-align: center;
	font-style: italic;
	margin-bottom: 0px;
	padding: 0px;
}

hr {
	display: inline-block;
    height: 1px;
    border: 0;
    border-top: 2px solid $white;
    margin: 1em 0;
    padding: 0;
    width: 50%;
}

.description {
	margin-top: 0px;
	padding-top: 0px;
	text-align: center;
}
